<div class="container">
  <div class="row text-center">
    <h2><strong>Welcome to {{title}}</strong></h2>
    <h5 style="text-align: center;"><strong>Developed with ❤️ by Shivam Patel</strong></h5>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-6">
      <input type="number" [(ngModel)]="num1" placeholder="Enter Number" class="form-control" />
    </div>
    <div class="col-md-6">
      <input type="number" [(ngModel)]="num2" placeholder="Enter Number" class="form-control"/>
    </div>
  </div>
  <br/>
  <div class="row text-center">
    <div class="col-md-3">
      <button type="button" class="btn btn-success" (click)=addition()>Add</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-success" (click)=substraction()>Substract</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-success" (click)=multiplication()>Multiply</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-success" (click)=division()>Division</button>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-5 col-md-offset-5">
      <h3><strong>Result: {{output}}</strong></h3>
    </div>
    <br/>
  <br/>
  <br/>
  <br/>
  <br/> 
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
    <div class="col-md-5 col-md-offset-5">
      <h5><strong>Thankyou for visiting ❤️</strong></h5>
    </div>
  </div>
</div>